* {
    box-sizing: border-box;
}

body {
    background-color: grey;
}

#simon {
    font-family: 'Kalam', cursive;
}

#start {
    font-family: 'Kalam', cursive;
}

.labels {
    font-family: 'Kalam', cursive;
}

.round-display {
    font-family: 'Kalam', cursive;
}

#top-left {
    background-color: darkgreen;
    width: 250px;
    height: 250px;
    /*position: absolute;*/
}

#top-right {
    background-color: darkred;
    width: 250px;
    height: 250px;
    float: right;
    /*position: relative;*/

}

#bottom-left {
    background-color: goldenrod;
    width: 250px;
    height: 250px;
    /*float: left;*/
    /*position: fixed;*/

}

#bottom-right {
    background-color: blue;
    width: 250px;
    height: 250px;
    /*float: right;*/
    /*position: relative;*/

}

#inner-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    margin: 0 auto;
    padding: 0;
}

#outer-circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    /*position: absolute;*/
}